.movie-form-container {
  border: 1px solid rgba(128, 128, 128, 0.371);
  padding: 30px;
  margin-bottom: 28px;
  border-radius: 8px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);

  .movie-form-title {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
  }

  .movie-form {
    min-width: 265px;

    .genders {
      max-width: 265px;
      flex-wrap: wrap;
      gap: 8px;
    }

    input::placeholder {
      font: 14px sans-serif;
    }
  }
}
