.bg-dark {
  background-color: $dark;
}

.text-dark {
  color: $dark;
}

.border-dark {
  border-color: $dark;
}

.bg-danger {
  background-color: $danger;
}

.text-danger {
  color: $danger;
}

.border-danger {
  border-color: $danger !important;
}

.bg-secondary {
  background-color: $secondary;
}

.text-secondary {
  color: $secondary;
}

.border-secondary {
  border-color: $secondary !important;
}

.bg-success-light {
  background-color: $success-light;
}

.bg-success-light {
  background-color: $success-light;
}

.bg-success-light:hover {
  background-color: $success-light-hover;
}

.text-success-light {
  color: $success-light;
}

.text-success-light:hover {
  color: $success-light-hover;
}

.border-success-light {
  border-color: $success-light !important;
}

.bg-light {
  background-color: $light;
}

.text-light {
  color: $light;
}

.border-light {
  border-color: $light;
}

.bg-warning {
  background-color: $warning;
}

.text-warning {
  color: $warning;
}

.border-warning {
  border-color: $warning;
}

.bg-primary {
  background-color: $primary;
}

.text-primary {
  color: $primary;
}

.border-primary {
  border-color: $primary;
}
