.bg-dark {
  background-color: $dark;
}

.text-dark {
  color: $dark;
}

.border-dark {
  border-color: $dark;
}

.bg-danger {
  background-color: $danger;
}

.text-danger {
  color: $danger;
}

.border-danger {
  border-color: $danger !important;
}

.bg-light {
  background-color: $light;
}

.text-light {
  color: $light;
}

.border-light {
  border-color: $light;
}

.bg-primary {
  background-color: $primary;
}

.text-primary {
  color: $primary;
}

.border-primary {
  border-color: $primary;
}
