$dark: #272727 !default;
$success: #198754 !default;
$success-hover: #167448 !default;
$danger: #dc3545 !default;
$light: white !default;
$primary-hover: rgb(47, 108, 141) !default;
$primary: rgb(56, 129, 169) !default;
$secondary: #5a9bff !default;
$warning: #ffc107 !default;
$info: #0dcaf0 !default;
