@import "./assets/_grid.scss";
@import "./assets/_normalize.scss";
@import "./assets/_variables.scss";
@import "./assets/_colors.scss";
@import "./assets/_utils.scss";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}
