@import "../../../assets/variables.scss";

.genre-tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  border: 1px solid $info;

  &:hover {
    &.form-genre {
      background-color: #dc3545;
      border-color: #dc3545 !important;
    }

    background-color: $info;
  }

  .genre-delete {
    padding-top: 2px;
    margin-right: 5px;
  }
}
